albumentations==1.2.0
einops==0.4.1
jupyterlab==3.4.4
kaggle==1.5.12
matplotlib==3.5.2
monai==0.9.0
numpy==1.23.1
opencv-python==4.6.0.66
pandas==1.4.3
PyYAML==6.0
scikit-learn==1.1.1
seaborn==0.11.2
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@740dab561ccf54a9ae4bb5bda3b8b18df3790025
spams==2.6.5.4
staintools==2.1.2
tifffile==2022.5.4
timm==0.4.12
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchvision==0.13.0+cu116
tqdm==4.64.0
transformers==4.21.1
